body{
  width: 1300px;
  margin: auto;
}

header {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}

header img {
  margin: 20px auto;
  width: 450px;
}

h1 {
  background-color: #2E3C8C;
  padding: 50px 0px;
  color: #F2E750;
}



.random-pics {
  display: flex;
  margin-left: 50px;
}

section img {
  width: 250px;
  height: 250px;
  margin: 50px 20px 20px 20px;
  border: 2px solid #03178C;
  box-shadow: -5px -5px 10px #03178C;
  cursor: pointer;
}

section img:active{
  width: 215px;
  height: 215px;

}

#text p {
  width: 300px;
  margin-right: 50px;
  line-height: 1.2em;
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: #03178C;
  width: 300px;
  padding: 20px;
  border-radius: 12px;
  color:#F2E750;
}


form{
  text-align: center;
}

button{
  width: 200px;
  height: 60px;
  border-radius: 13px;
  background-color: #F2E750;
  box-shadow: -5px -2px 15px #757575;
  color:#03178C;
  font-size: 23px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

#sale {
  width: 300px;

}



#random-text img{
  width: 400px;
  display: inline;
  margin-left: 50px;

}

#usual-text {
  text-align: center;
  width: 800px;
  margin-top: 40px;
  margin-right: 30px;
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.3em;
  float: right;
}

footer {
  height: 100px;
  background-color: #2E3C8C;
}


